<body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://pnommensen.com/">Patrick Nommensen</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="http://pnommensen.com">Home</a></li>
              <li><a href="http://pnommensen.com/about/">About</a></li>
              <li><a href="http://pnommensen.com/resume/">Resume</a></li>
	      <li><a href="http://pnommensen.com/contact/">Contact</a></li>
            </ul>
            <p class="nav-text pull-right">Open Source, Web Optimization, Politics</>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
